<form [formGroup] = "CustomerModel.formCustomerGroup">
    Customer Code: <input formControlName ="CustomerCodeControl" type="text"><br/>
    Customer name: <input formControlName ="CustomerNameControl" type="text"><br/>
    Customer Amount: <input type="number"><br/>
    
    <input [disabled]="(!CustomerModel.formCustomerGroup.valid)" (click)="Add()" type="button" value="Add">
    <input [disabled]="Disable" type="button" value="send to server" (click)="postToServer()"/>
</form>
    <!-- <div>
        <strong>Current Customer:</strong>
        {{CustomerModel.CustomerCode}}<br/>
        {{CustomerModel.CustomerName}}<br/>
        {{CustomerModel.CustomerAmount}}
    </div> -->
    <div *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!CustomerModel.formCustomerGroup.controls['CustomerCodeControl'].hasError('pattern')">
        Customer code format incorrect
    </div><br/>
    
    <div *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!CustomerModel.formCustomerGroup.controls['CustomerCodeControl'].hasError('required')">
        Customer code required
    </div><br/>
    
    <div *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!CustomerModel.formCustomerGroup.controls['CustomerNameControl'].hasError('required')">
        Customer name required
    </div>    
<grid-ui [grid-column]="[{'colName':'CustomerName'}]"
[grid-data]="CustomerModels"
(grid-selected)="SelectCustomer($event)">
</grid-ui>

